<div class="container-fluid">

<div class="row justify-content-center">
<%= form_with(model: @new_blog, local: true, html: {class: 'col-4 p-3 mb-2 bg-light text-dark'}) do |f|%>
<button type="button" class="btn btn-outline-primary"><%=link_to("Back to Home Page", root_path) %></button>

<h1>Create New Post</h1>
<% if @new_blog.errors.any? %>
  <div id="error_explanation" class="p-3 mb-2 bg-danger text-white">
    <ul>
    <% @new_blog.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

  <%= render 'form', f: f %>

  <%=f.submit "Create New Post", class: "btn btn-success"%>


<%end%>
</div>
</div>