<%=link_to("Back to Home Page", root_path) %>

<h1>Blogs#show</h1>

<h2><%= @blog.title%></h2>
<p>Location: <%= @blog.location%></p>
<p>Country: <%= @blog.country%></p>
<p>Budget: <%= @blog.budget%></p> <%#TODO%>
<p>Activity: <%= @blog.activity%></p>
<p>Content: <%= @blog.content%></p>

<p>This post was created on:</p>
<%= @blog.created_at%>

<p><%= link_to 'Edit Blog Post', edit_blog_path(@blog) %></p>

<hr>
<h2>Comments</h2>


<% @blog.comments.each do |comment| %>
    <p><%= comment.name %> says:</p>
    <p>"<%= comment.content %>"</p>
    <p>on <%= comment.created_at %></p>
    <hr>
<%end%>


<%= form_with(model: [ @blog, @blog.comments.build], local: true) do |f| %>
    <%=f.label :name, "Please provide your name:" %>
    <%= f.text_field :name, size: '30'%>

    <%=f.text_area :content, size: '30x6'%>

    <%= f.submit "Create Comment" %>
<%end%>
